body {
    background-color: black !important;
    margin: 0;
    overflow: hidden;
    font: 16px Arial;
}

canvas {
    display: block;
}

nav {
    background-color: #1b1b1b;
}

/* hides everything to prevent flickering */
body * {
    visibility: hidden;
}

a:link, a:visited {
    color: white;
    text-decoration: underline;
}

a:hover, a:focus, a:active {
    color: gray;
    text-decoration: underline;
}
footer {
    position: absolute;
    bottom: 0;    
    z-index: 999;

    opacity: 0.85;
}

footer p {
    margin: 5px;

    font-size: 13.5px;
    color: white;
}

.showing-container {
    position: fixed;
    top: 70px;
    right: 10px;

    width: 300px;
    /* z-index: 1000; */

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 10px;
}